footer
    section(class="w-fit")
        span Copyright © 2017 Raydom · 王瑞冬
        b 个人网站主站：
            a(href="https://raydom.wang") https://raydom.wang

script(src='/javascripts/jquery-1.8.3.min.js')
script(src='/javascripts/swiper-3.4.2.jquery.min.js')
script(src='/javascripts/jquery.flex-images.min.js')
script(src='/javascripts/jquery.nicescroll.min.js')
script(src='/javascripts/app.js')