header
    nav(class='w-fit')
        a(href='/')
            img(src='/images/logo.png')
        ul
            li
                a(class='ani',href='/') 首页
            li
                a(class='ani',href='/') 分类
            li
                a(class='ani',href='/') 关于