doctype html
html
  head
    title= '文章列表'
    meta(charset="UTF-8")
    meta(name="keywords", content="1233")
    meta(name="description", content="")
    meta(name="renderer", content="webkit|ie-comp|ie-stand")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/swiper-3.4.2.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.flex-images.css')
    link(rel='stylesheet', href='http://at.alicdn.com/t/font_423855_c9modomb6cfbhuxr.css')
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <![endif]-->
  body
    block content
